@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Primus';
  src: url('/fonts/Primus Bold.otf');
  font-weight: 600;
  font-style: normal;
  }

@font-face {
  font-family: 'Primus';
  src: url('/fonts/Primus Regular.otf');
  font-weight: 400;
  font-style: normal;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: Primus, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.masked {
  width: 1000px;
  margin-left: -290px;
  height: 100px;
  margin-bottom: 200px;
  background-image: url(/images/swirls-small.png);
  -webkit-mask-image: url(/images/pygrey.svg);
  mask-image: url(/images/pygrey.svg);
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}